@charset "UTF-8";

/* Definizione di body */

body {
	width: 1000px;
	min-width: 50em; 
	margin: 3em auto;
	padding: 0em;
	background-color: #FFF;
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: lighter;
}


li a {
	text-decoration: none;
}

strong {									/* EVIDENZIA LE LETTERE PER L'ACCESSKEY */
	font-weight: bold;
	font-size: 1em;
	text-decoration:underline;  
}

h4 {
font-weight: bold;
font-size: 1em;
}



/* ****** home page ****** */

#wrapper {
	width: 1000px;
	min-width: 50em;
	margin: 0em auto;
	padding: 0em;
	background-color: #FFF;
}


/* header */

#logo {
	margin-top: -3em; 
	float: left;
}


#intestazione {
	color: #4169E1;
	margin-top: 0;
	margin-left: 0;
	padding-bottom: 1em; 
	height: 3em;
	text-align: center;
	background-color: white;
	font-size: 1.8em;
}


/* percorso */

#percorso {
	height: 1em;
	margin-top: 1em;
	padding-top: 0;
	padding-bottom: 0.3em;
	padding-left: 25%;
	font-size: 1.3em;
	font-weight: normal;
	color: #4169E1;
	background-color: #8DBEAF;
}


#percorso p {
	font-size: 1em;
	font-weight: bold;
}



/* barra di navigazione verticale */

 
#navigator {
	margin: 1.6em  0 0 2em;
	padding: 0 ;
	float: left;
	font-size: 1.3em;
}


ul#vertical-navigator {
	margin: 0;
	padding: 0.9em 1em;
	border-radius: 1em;
	list-style-type: none;
	background-color: #DDF8F0;
}



ul#vertical-navigator {
	width: 9em;
}


li.selezione {
	margin: 0 -0.9em;
	padding: 0.5em 0.5em;
	font-size: 1.1em;
	font-weight: bold;
}


li.selezione:hover {
	color: #000;
	background-color: #FFF;
}


li.sub-selezione {
	padding: 0.5em 2em;
	margin: 0 -2em;
	font-size: 1em;
	font-weight: bold;
}



li.sub-selezione:hover {
	color: #000;
	background-color: #FFF;
}

ul.sub-navigator {
	margin: 0 0;
	padding: 0 1em;
	list-style-type: none;
}






/* main */


.main {
	background-color: #A7D7C8;
	border-color: #A7D7C8;
	padding: 10px 0px;
	min-height: 50em;
}


.main h2 {
	font-size: 2.4em;
	margin-top: 2em;
	text-align: center;
	color: #4169E1;
}


.main p {
	margin: 0 2.5em 1em 2em;
	font-size: 1.4em;
	text-indent: 1.5em;
}


#testo {
	width: 70%; 
	margin-top: 4.8em;
	padding-bottom: 3em;
	padding-top: 0.5em;
	padding-left: 2em;
	padding-right: 1em;
	background-color: #DDF8F0;
	margin-left: 25.7em;  
	text-align: justify;
	}


#testo img {
	margin-top: 2.5em;
	margin-left: -0.5em;
}

.img_strutture {
	width: 70%;
	min-width: 90em;
	margin-left: 3em;
	margin-right: auto;
}

.img_strutture img {
	width: 25%;
	margin: 0em 4em 3em;
}


#testo h3 {
padding: 0em 4em 0em 3em;
font-weight: lighter;
font-size: 1.5em;
}






/* tabella */

table {
	width: 70%;
	background-color: #FFF;
	border-collapse: collapse;
	margin: auto;
	font-size: 1.5em;
}

th, tr, td {
	border: solid 1px;
	text-align: center;
}


th, td {
	padding: 0.5em;
}

caption {
	border: solid 1px;
	background-color: #A7D7C8;
	padding: 0.5em;
	font-weight: bold;
}

.tabella caption {
	margin-top: 3em;
}


#tabella-alloggi {
	margin-top: 2em;
}


tfoot p {
	margin-top: 0;
	height: 0;
	text-align: left;
	font-style: italic;
	font-size: 0.8em; 
}


#nota {
	margin-top: 3%;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0.5em;
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	border-color: black;
	border: solid thin;
	font-size: 0.9em;
	font-style: italic;
}


#nota p {
	height: 0.3em;
	margin: 1% 0 3% 0;
}




/* barra navigazione orizzontale */


#horizon {
	margin-left:20.7em;
}

.horizon-navigator li {
 float: left;
 list-style-type: none;
 padding-top: 1em;
}


ul.horizon-navigator {
	padding-right: 0;
	margin-left: 0;
	margin-right: -3em; 
	color: #4169E1;
	min-width: 80em;
}

.secondo:hover {
	color: #000;
	background-color: #FFF;
	}



.sub-horizon {
	margin-left: -8em;
	list-style-type: none;
	margin-bottom: 0;
	color: #4169E1;
	min-width: 0em;
	font-size: 1.2em;
	font-weight: bold;
}


.sub-horizon li {
	margin-top: 2.5em;
	margin-left: 1em;
}



#sub-horizon-strutture {
	height: 0em;
	margin-left: -11.5em;
	list-style-type: none;
	margin-bottom: -1em;
	color: #4169E1;
	min-width: 60em;
}


#sub-horizon-strutture li {
	margin-top: 2em;
	margin-left: 1em;
}


#sub-horizon-servizi {
	height: 0em;
	margin-left: -19.5em;
	list-style-type: none;
	margin-bottom: -1em;
	color: #4169E1;
	min-width: 60em;
}


#sub-horizon-servizi li {
	margin-top: 2em;
	margin-left: 1em;
}


#primo {
	margin-left: 0.8em;
	border-radius: 1em 1em 0em 0em;
	background-color: #DDF8F0;
	padding-right: 1.8em;
}


li#primo {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 1.3em;
	padding-bottom: 0.8em;
}

.secondo {
	border-color: #A7D7C8;
	background-color: #8DBEAF;
	border-radius: 1em 1em 0em 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.8em;
	margin-left: 0.8em;
}

li.secondo {
	font-size: 1.3em;
	font-weight: bold;
	
}





/* footer */

#footer {
	width: 100%;
	min-width: 80em;
	height: 5em;
	background-color: #8DBEAF;
	font-weight: lighter;
	
	font-weight: lighter;
}

#validator {
	margin-left: 1em;
	padding-top: 1em;
	padding-bottom: 1.3em;
	padding-left: 1em;
	float: left;
}


#address {
	width: 100%;
	line-height: 0em;	
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	margin-top: 0em;
	padding-top: 0.4em;
	padding-bottom: 1.5em;
	padding-right: 1em;
	padding-left: 0em;	
	
}



/* stylesheet resort */

#lista-pulita ul {
	list-style-type: none;
	margin-left: 1em;
	margin-bottom: 2em;
}

dt {
	margin-left: 7em;
	color:#4169E1;
	font-size: 1.3em;
	font-weight: bold;
}

dd {
	font-size: 1.2em;
}


/* form */

#insert {
	width: 65.2%;
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 1em; 
	padding-bottom: 3em;
	margin-top: 3.7em;
	margin-left: 19.8em;
	margin-right: 1em;
	background-color:  #DDF8F0;
	font-size: 1.3em;
}	


#insert h2 {
	margin: 0.5em 3em 1em;
	
}

#insert form p {
	margin: 1em 5em;
}


.campo {
	margin-right: 2em;
	margin-bottom: 1em;
}


#insert h3 {
	text-align: center;
}



form {
	width: 43em;
	padding: 0.3em 1em 1em 1em;
	background-color: white;
}

#insert form p {
	font-weight: bold;
}


form legend {
	font-size: 1.5em;
}

form label {
	font-weight:bold; 
}

form label[for=nome] {
	padding-right: 12em;
}


form label[for=CAP] {
	padding-right: 3em;
}


form li {
	list-style-type: none;
}

#radio_1 {
	margin-left: 1.5em;
	float:left; 
}


form #radio_1 p {
	margin-left: 3.5em;
} 


#radio_2 {
	margin-left: -1em;
	float: left;
}


form #radio_2 p {
	margin-left: 3.5em;
} 


#radio_3 {
	margin-left: 25em;
}


form #radio_3 p {
	margin-left: 3.5em;
} 


/* Dimensioni della textarea del D.Lgs 196/2003 */
#Lgs {
	height: 10em;
	width: 30em;
}


img.img-validatori {
	border: 0;
	width: 88px;
	height: 31px;
}
